*
{
margin: 0;
padding: 0;
}
body
{
font-family: consoles;
height: 100vh;
background: #e9dada;
display: flex;
align-items: center;
justify-content: center;
}
.container
{
    perspective: 320px;
}
.btn
{
    display: block;
    margin: 40px 0;
    width: 240px;
    height: 80px;
    border: none;
    background-color: rgb(139, 219, 179);
    color: rgb(230, 243, 245);
    font-size: 18px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
}

.btn1:hover{
    transform: rotateX(15deg);
    box-shadow: 0 15px 15px rgb(92, 143, 117);
}
.btn2:hover{
    transform: rotateX(-15deg);
    box-shadow: 0 -15px 15px rgb(92, 143, 117);
}
.btn3:hover{
    transform: rotateY(15deg);
    box-shadow: -15px 0 15px rgb(92, 143, 117);
}
.btn4:hover{
    transform: rotateY(-15deg);
    box-shadow: 15px 0 15px rgb(92, 143, 117);
}